/* 	scss for about.html / About Page 
	icon orange = #FE7001 
	navy font = #074C95
	neon green = #77B800 
	darker orange = #D93D00 		*/
.backgroundImage {
  width: 100%;
  height: 550px;
  /* adjust height for other content */
  background-position: 0px 0px;
  background-color: red;
  /* just to see where area is */ }
  .backgroundImage img {
    height: 750px;
    width: 100%; }

h3 {
  color: white;
  font-size: 50px; }

/* Make 3 tshirts stack vertically (one column) when browser "on sufficiently small screens" */
@media screen and (max-width: 990px) {
  .whole {
    width: 75%;
    display: block; } }
